@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

 :root {
    --backgound-button-gradient: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    --background-size: 200%;
    --text-pink-color: #f55f8d;
    --text-bold-black-color: black;
    --text-black-color: #636363;
    --white-color: white;
    --animate-duration: 2s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.btn-gradient {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: var(--backgound-button-gradient);
    background-size: var(--background-size);
    border: 1px solid transparent;
    border-radius: 30px;
    text-transform: uppercase;
    color: var(--white-color);
    cursor: pointer;
    outline: 0;
    line-height: 1.2;
    transition: all .5s;
}

a {
    text-decoration: none;
}

.btn-gradient:hover {
    background-position: right center;
}

ul {
    list-style: none;
}

.section-inner {
    padding-top: 115px;
}


/* header */

header nav ul {
    display: flex;
    margin-right: 30px;
}

header nav ul li {
    text-decoration: none;
    list-style: none;
    font-size: 9px;
    display: inline;
    padding: 55px 15px;
}

header nav i {
    font-size: 9px;
    color: #636363;
    margin-top: -3px;
    vertical-align: middle;
    transition: all 0.5s;
}

header span {
    font-weight: 500;
}

header nav ul li a {
    text-decoration: none;
    color: var(--text-bold-black-color);
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}

header nav ul li span {
    display: inline-block;
    transition: all 0.5s;
}

header .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul a:hover,
header nav ul a:hover i {
    color: var(--text-pink-color);
}

header nav a:hover span {
    animation: upToDown 0.3s;
}

@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}


/* end header */


/* carousel */

.carousel {
    padding-top: 100px;
    overflow: hidden;
    overflow: hidden;
    background-image: url(./img/pic2.png);
    background-position: top;
    background-size: 100%;
}

.carousel .carousel_content {
    display: flex;
}

.carousel_content .carousel_left {
    width: 60%;
}

.carousel .carousel_title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--text-pink-color);
}

.carousel .carousel_title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 900;
    color: var(--text-bold-black-color);
    margin-bottom: 20px;
}

.carousel_article ul li p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--text-black-color);
}

.carousel_article p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--text-black-color);
}

.carousel_article ul li p {
    display: inline;
}

.carousel_article ul {
    margin-bottom: 20px;
}

.carousel_article ul li i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: var(--white-color);
    border-radius: 35px;
    font-weight: 900px;
    background-image: var(--backgound-button-gradient);
    background-size: var(--background-size);
    margin-right: 10px;
}

.carousel_article li {
    padding: 10px 5px 10px 0;
    font-size: 20px;
}

.carousel_content .carousel_right {
    width: 40%;
}

.carousel_right .right_banner {
    width: 570px;
    margin-left: 50px;
    animation-name: fadeInUp2;
}

@keyframes fadeInUp2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

.carousel_content .carousel_right img {
    width: 100%;
}


/* end carousel */


/* service */

.service {
    padding-bottom: 0;
    background-image: url(./img/bg2.png);
    background-size: cover;
    text-align: center;
    background-position: top center;
}

.service .title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--text-pink-color);
    text-align: center;
}

.service .title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
    text-align: center;
}

.service .service_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.service .service_items {
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px 45px;
    text-align: center;
    /* transform: translateY(0); */
    transition: all .5s;
}

.service .service_items h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text-bold-black-color);
    margin: 15px 0;
    text-align: center;
}

.service .service_items p {
    text-align: center;
    color: var(--text-black-color);
}

.service .service_items img {
    width: 215px;
    margin: 0 auto;
}

.service_items:hover {
    transform: translateY(-20px);
}


/* end service */


/* about us */

.aboutUs {
    background-image: url(./img/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
}

.aboutUs .title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--text-pink-color);
}

.aboutUs .title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.aboutUs .aboutUs_content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.aboutUs .aboutUs_content_right {
    width: 50%;
}

.aboutUs .aboutUs_content_left {
    width: 60%;
    position: absolute;
    left: -17%;
    animation-name: fadeInLeft2;
}

.aboutUs .aboutUs_content_left img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}

@keyframes fadeInLeft2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

.aboutUs .aboutUs_content_right {
    animation-name: fadeInRight2;
}

.aboutUs .aboutUs_content_right p {
    color: var(--text-black-color);
    margin-bottom: 20px;
}

.aboutUs .aboutUs_content_right .title p {
    color: var(--text-pink-color);
}

.aboutUs .aboutUs_content_right ul li p {
    display: inline;
}

.aboutUs .aboutUs_content_right ul {
    margin-bottom: 20px;
}

.aboutUs .aboutUs_content_right ul li i {
    font-size: 24px;
    color: var(--text-pink-color);
    margin-right: 10px;
    padding: 5px;
    vertical-align: middle;
}

@keyframes fadeInRight2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}


/* end about us */


/* number */

.number {
    background-image: url(./img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0px;
    text-align: center;
}

.number .number_content {
    display: flex;
    justify-content: space-between;
}

.number .number_item {
    text-align: center;
    width: 25%;
}

.number .number_item i {
    width: 80px;
    height: 80px;
    font-size: 45px;
    background-image: var(--backgound-button-gradient);
    background-size: 200%;
    color: var(--white-color);
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
    text-align: center;
    line-height: 80px;
}

.number .number_item p:first-of-type,
.number_item p:first-of-type span {
    font-size: 65px;
    font-weight: 600;
    color: var(--text-pink-color);
    line-height: 1;
}

.number .number_item p:last-of-type {
    color: var(--text-black-color);
    font-size: 18px;
}


/* end number */


/* features */

.features {
    background-image: url(./img/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
}

.features .features_content {
    display: flex;
}

.features .features_content_left {
    width: 60%;
}

.features .features_content_left .title {
    animation-name: fadeInLeft2;
}

.features .title p {
    font-weight: 600;
    color: var(--text-pink-color);
    font-size: 22px;
    margin-bottom: 20px;
}

.features .title h3 {
    font-size: 70px;
    font-weight: 800;
    color: var(--text-bold-black-color);
    margin-bottom: 20px;
    line-height: 1.1;
}

.features .features_content_left .features_bg {
    padding: 30px;
    display: flex;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    background-color: var(--white-color);
    border-radius: 10px;
    position: relative;
}

.features .features_content_left .features_item {
    padding: 0 50px 30px 0;
}

.features .features_item i {
    font-size: 80px;
    line-height: 1;
    color: var(--text-pink-color);
    z-index: 1;
    transition: all 1s;
}

.features .features_item div {
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}

.features .features_item h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--text-bold-black-color);
    transition: all 1s;
}

.features .features_bg p {
    color: var(--text-black-color);
    transition: all 1s;
}

.features .features_bg::after {
    content: "";
    background-image: var(--backgound-button-gradient);
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    border-radius: 10px;
    transition: all 1s;
}

.features_bg:hover::after {
    opacity: 1;
}

.features_bg:hover div,
.features_bg:hover div p,
.features_bg:hover h3,
.features_bg:hover i {
    color: var(--white-color);
}

.features .features_item:nth-of-type(2) {
    padding: 0 0 30px 50px;
}

.features .features_content_right {
    width: 50%;
}

.features .features_banner {
    margin-right: -100px;
}

.features .features_banner img {
    max-width: 100%;
    animation: moveimg 5s infinite;
}

.features_group .animate__fadeInRight {
    animation-name: fadeInRight2;
}

@keyframes moveimg {
    0% {
        transform: rotate( 1deg) translate(2px, 2px);
    }
    50% {
        transform: rotate( -1deg) translate(-2px, -2px);
    }
    100% {
        transform: rotate( 1deg) translate(2px, 2px);
    }
}


/* end features */


/* portfolio */

.portfolio .title {
    text-align: center;
}

.portfolio .title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--text-pink-color);
}

.portfolio .title h3 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: var(--text-bold-black-color);
    margin-bottom: 20px;
}

.portfolio .portfolio_item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.portfolio_content .fadeInUp {
    animation-name: fadeInUp2;
}

.portfolio .portfolio_item img {
    width: 100%;
    height: 100%;
}

.portfolio .portfolio_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 35px;
}

.portfolio .portfolio_content .portfolio__item1 {
    grid-column: 1/3;
}

.portfolio .portfolio_content .portfolio__item5 {
    grid-column: 1/3;
}

.portfolio .portfolio_content .portfolio__item6 {
    grid-column: 3/4;
    grid-row: 2/4;
}

.portfolio .portfolio_item:before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient( to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
}

.portfolio .portfolio_item:hover::before {
    left: 125%;
}

.portfolio_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: all .75s;
}

.portfolio_item:hover .portfolio_overlay {
    opacity: 1;
}

.portfolio_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: var(--white-color);
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    text-align: center;
    border-radius: 10px;
    transform: translate(20px, -20px);
    transition: all .75s;
}

.portfolio_item:hover .portfolio_icon {
    transform: translate(0);
}

.portfolio_text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all .75s;
}

.portfolio_text h3 {
    font-size: 22px;
    font-weight: 800;
    color: var(--white-color);
}

.portfolio_text p {
    color: var(--white-color);
    opacity: .7;
}

.portfolio_item:hover .portfolio_text {
    transform: translateY(0);
}

.portfolio_icon a {
    cursor: pointer;
}


/* end portfolio */


/* plan */

.plan {
    background-image: url(./img/bg16.png);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.plan .title {
    text-align: center;
}

.plan .title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--text-pink-color);
}

.plan .title h3 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: var(--text-bold-black-color);
    margin-bottom: 20px;
}

.plan .plan_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.plan .plan_item h3 {
    font-weight: 700;
    color: var(--text-bold-black-color);
    font-size: 2rem;
}

.plan .plan_item span {
    color: #f8ae56;
    font-weight: 800;
    font-size: 50px;
}

.plan .plan_item p {
    color: var(--text-bold-black-color);
    font-weight: 800;
    font-size: 18px;
}

.plan .plan_item {
    padding: 35px 60px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 1px 0 50px rgb( 0 0 0/ 10%);
    border: 3px solid transparent;
    /* border tu rat nho r lon len  */
    border-image: 100 round;
    transition: all 0.5s;
}

.plan .plan_item img {
    width: 125px;
}

.plan .plan_item ul {
    text-align: left;
    padding: 15px 0;
    border-top: 1px solid #e1e1f0;
}

.plan .plan_item ul li {
    font-weight: 400;
    padding: 5px 0;
    font-size: 18px;
}

.plan .plan_item ul li i {
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    background-color: #feeff3;
    color: #f55f8d;
    padding-top: 1px;
    margin-right: 15px;
}

.plan_item:hover {
    border-image: url(./img/br.png) 1 round;
}


/* end plan */


/* testimonial */

.testimonial .testimonial_content .title {
    text-align: center;
}

.testimonial .testimonial_content .title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--text-pink-color);
}

.testimonial .testimonial_content .title h3 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: var(--text-bold-black-color);
    margin-bottom: 20px;
}

.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
}

.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}

.testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
}

.testimonial-comment {
    min-height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
}

.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}

.testimonial-thumbs .testimonial-pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px;
}

.testimonial-thumbs .testimonial-pic::after {
    height: 10px;
    width: 10px;
    bottom: 0px;
}

.testimonial-thumbs .testimonial-pic::before,
.testimonial-thumbs .testimonial-pic::after {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.swiper-slide-thumb-active .testimonial-pic::after,
.swiper-slide-thumb-active .testimonial-pic::before {
    opacity: 1;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
}

.testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: var(--white-color);
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}

.testimonial_name {
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}

.testimonial-text p {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    padding: 0 15px 15px;
    color: var(--text-black-color);
}

.testimonial_position:first-of-type {
    color: var(--text-pink-color);
    margin-bottom: 20px;
}

.testimonial-text i {
    position: absolute;
    top: 10px;
    left: 240px;
    font-size: 70px;
    color: var(--text-pink-color);
    transform: rotate( -180deg);
}

.testimonial-thumbs::before {
    left: 0;
    background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.testimonial-thumbs::after {
    right: 0;
    background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.testimonial-thumbs::before,
.testimonial-thumbs::after {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}

.testimonial-pic .shape-bx::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(./img/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
}

.testimonial-pic .shape-bx {
    position: relative;
    background-color: var(--text-pink-color);
    width: 50px;
    height: 35px;
    left: 50%;
    bottom: 18px;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 1s;
}

.swiper-slide-thumb-active .testimonial-pic .shape-bx {
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: var(--text-pink-color);
}


/* end testimonial */


/* blog */

.blog {
    background-image: url(./img/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
}

.blog .title {
    text-align: center;
}

.blog .title p {
    font-size: 18px;
    color: var(--text-pink-color);
    font-weight: 600;
    margin-bottom: 20px;
}

.blog .title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: var(--text-bold-black-color);
    margin-bottom: 20px;
}

.blog .blog_item {
    text-align: left;
    background-color: rgba(245, 95, 141, .1);
}

.blog .blog_header {
    position: relative;
}

.blog .blog_header img {
    width: 100%;
    border-radius: 8px;
}

.blog .blog_header p {
    background-image: var(--backgound-button-gradient);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: var(--white-color);
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.blog .blog_body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog .blog_body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-bold-black-color);
}

.blog .blog_body p {
    color: var(--text-black-color);
}

.blog .blog_footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.blog .blog_footer p:first-of-type {
    margin-right: 20px;
}

.blog .blog_footer p {
    /* text-align: center; */
    color: var(--text-black-color);
}

.blog .blog_footer p:first-of-type span {
    color: var(--text-pink-color);
}

.blog .blog_footer i {
    font-size: 18px;
    color: var(--text-pink-color);
    vertical-align: middle;
}


/* end blog */


/* footer */

footer {
    background-image: url(./img/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: var(--white-color);
    font-size: 15px;
    position: relative;
}

footer::before {
    content: "";
    background-image: url(./img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer .footer_top {
    padding: 50px 60px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(./img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}

.fadeInUp {
    animation-name: fadeInUp2;
}

footer .footer_top .text {
    width: 50%;
}

footer .footer_top .text h2 {
    font-size: 28px;
    color: var(--text-bold-black-color);
    font-weight: 600;
}

footer .footer_form form {
    display: flex;
    border-radius: .5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

footer .footer_form {
    width: 50%;
}

footer .footer_form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: var(--white-color);
    flex: 1 1 auto;
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid var(--white-color);
    outline: 0;
    transition: all .5s;
    line-height: 0;
}

.footer_form input:focus,
.footer_form input:hover {
    border-color: var(--text-pink-color);
}

footer .footer_form button {
    padding: 20px 35px;
    font-size: 16px;
    background-image: var(--backgound-button-gradient);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 .5rem .5rem 0;
    color: var(--white-color);
    cursor: pointer;
}

.footer_form button:hover {
    background-position: right center;
}

.footer_form button:hover i {
    animation: toLeftFromRight .5s forwards;
    display: inline-block;
}

footer .footer_bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}

@keyframes toLeftFromRight {
    49% {
        transform: translateX(100%);
    }
    50% {
        opacity: 0;
        transform: translateX(-100%);
    }
    51% {
        opacity: 1;
    }
}

footer .footer_bottom {
    display: flex;
    position: relative;
    padding: 70px 0;
}

footer .footer_item {
    width: 25%;
}

footer .footer_item ul li {
    padding: 8px 0;
    display: flex;
}

footer .footer_item .footer_contact li i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
    background-image: var(--backgound-button-gradient);
    background-size: 200%;
    margin-right: 10px;
}

footer .footer_item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: var(--white-color);
}

footer .footer_item h3::before {
    width: 15px;
}

footer .footer_item h3::after,
footer .footer_item h3::before {
    content: "";
    bottom: 0;
    left: 0;
    height: 4px;
    background: var(--backgound-button-gradient);
    border-radius: 20px;
    position: absolute;
    background-size: 200%;
}

footer .footer_item h3::after {
    width: 45px;
    left: 20px;
}

footer .footer_item a {
    text-decoration: none;
    color: #636363;
    font-size: 16px;
    transition: all 0.5s;
}

footer .footer_item a:hover {
    color: var(--white-color);
}

footer .footer_item i {
    margin-right: 10px;
    font-weight: 700;
}

.footer_copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

.footer_content {
    display: flex;
    justify-content: space-between;
}

.footer_left span {
    color: var(--text-pink-color);
}

.footer_copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: var(--white-color);
    background-color: rgba(255, 255, 255, .1);
    transition: all .5s;
}


/* end footer */


/* back to top */

.backToTop {
    width: 50px;
    height: 50px;
    background: var(--text-pink-color);
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: var(--white-color);
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px var(--text-pink-color);
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}